@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Estedad-Regular";
  }
}
@layer utilities {
  .star-clip {
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
  }
}
@font-face {
  font-family: "Estedad-Regular";
  src: url("/fonts/Estedad-Regular.woff2");
}
@font-face {
  font-family: "Estedad-Bold";
  src: url("/fonts/Estedad-Bold.woff2");
}
@font-face {
  font-family: "Estedad-SemiBold";
  src: url("/fonts/Estedad-SemiBold.woff2");
}
@font-face {
  font-family: "Estedad-Medium";
  src: url("/fonts/Estedad-Medium.woff2");
}
.slider .container-pagination .swiper-horizontal {
  width: 100%;
}
.slider .container-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  position: absolute;
  bottom: 0;
  z-index: 100;
}
.slider .container-pagination .swiper-horizontal > .swiper-pagination-bullets,
.slider
  .container-pagination
  .swiper-pagination-bullets.swiper-pagination-horizontal,
.slider .container-pagination .swiper-pagination-custom,
.slider .container-pagination .swiper-pagination-fraction {
  z-index: 120;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  bottom: 0;
  width: min-content;
  height: 1.5rem;
  position: relative;
  padding: 1rem 1rem;
}

.slider .container-pagination .swiper-pagination::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../src/assets/pag1.svg");
  top: 0;
  height: 100%;
  left: 100%;
  width: 36.5px;
}
.slider .container-pagination .swiper-pagination::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../src/assets/pag2.svg");
  top: 0;
  height: 100%;
  right: 100%;
  width: 36.5px;
}
.slider .container-pagination .swiper-pagination-bullet {
  width: 0.5rem;
  height: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #adadad;
}
.slider .container-pagination .swiper-pagination-bullet-active {
  background-color: #417f56;
  width: 12px;
  height: 12px;
  padding: 2px;

  border: 2px solid #e5f2e9;
}
